html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    background:#f7f7f7;
    min-width:320px;
    line-height:1.6;
    color:#3a342e;
    margin:0;
}
h1 {
    font-size:2em;
    margin:0;
}
h1 a {
    color: #FFFFFF;
}
h1 a:hover {
    color: #FFFFFF;
}

h2 {
    font-size:1.3em;
    margin:3em 0 .75em;
    line-height:1.3;
}
h3, h4 {
    margin:2em 0 .75em;
    line-height:1.4;
}
h3 {
    font-size:1.15em;
}
h4 {
    font-size:1.1em;
}
p {
    margin: 0;
}
a {
    color:#222;
    background:transparent;
}
a:hover, a:active {
    color:#154BE5;
    text-decoration:none;
    outline:0;
}
a:focus {
    outline:thin dotted
}
ol, ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
dl, dd {
    margin:0;
}
svg:not(:root) {
    overflow:hidden;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
tr, th, td {
    vertical-align:middle;
}
textarea {
    overflow:auto;
    vertical-align:top;
}
figure {
    margin:0;
}
em {
    font-weight:700;
    font-style:normal;
}
small {
    font-size:80%;
}
.cf:before, .cf:after {
    content:" ";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}
.opacity:hover {
    filter:alpha(opacity=60);
    -moz-opacity:.6;
    opacity:.6;
}
.opacity:hover, x:-moz-any-link {
    background:#fff;
}
.opacity:hover, x:-moz-any-link, x:default {
    background:#fff;
}
.header {
    background-color:#f66d0d;
    width:100%;
    padding:.75em 0;
    margin:0 auto;
    padding:0 .7em;
    font-family:"Arial Black";
    font-weight:900;
    color:#fff;
}
.header .header--logo {
    margin-left: 18px;
}
.header .header--border {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.container {
    width: 100%;
    background-color: #f9750a;
    background: -moz-linear-gradient(top center, #f9750a 0%, #ff9409 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(#f9750a), to(#ff9409));
    background: linear-gradient(top center, #f9750a 0%, #ff9409 100%);
}
.container .postarea {
    padding:2em 1.3em;
    max-width:720px;
    margin:0 auto;
}
@media screen and (max-width:480px) {
    .container .postarea {
        padding:1.3em;
    }
}
.container .postarea .postarea-text {
    width:100%;
}
.container .postarea .postarea-text textarea {
    font-size:1em;
    width:97.5%;
    border:1px solid #EDEDED;
    border-radius:5px;
    height:20px;
    resize:vertical;
    padding:.5em;
    color:#3a342e;
}
@media screen and (max-width:320px) {
    .container .postarea .postarea-text textarea {
        width:94%;
    }
}
@media screen and (min-width:321px) and (max-width:480px) {
    .container .postarea .postarea-text textarea {
        width:96%;
    }
}
@media screen and (min-width:481px) and (max-width:640px) {
    .container .postarea .postarea-text textarea {
        width:97%;
    }
}
.container .postarea .postarea-share {
    float:left;
    width:9.5em;
}
.container .postarea .postarea-share p {
    white-space:nowrap;
    color:#fff;
    font-size:.72em;
    margin:.5em 0 .1em;
}
.container .postarea .postarea-share .postarea-share-button {
    width:100%;
    margin-right:-2em;
}
.container .postarea .postarea-share .postarea-share-button a {
    font-size:1.5em;
    float:left;
    display:block;
    width:2.9em;
    text-align:center;
    background:#f7f7f7;
    color:#848484;
    text-decoration:none;
    height:1.8em;
    line-height:1.8em;
    border-radius:3px;
    border:1px solid #EDEDED;
    vertical-align:middle;
}
.container .postarea .postarea-share .postarea-share-button a:hover {
    background:#E6E6E6;
}
.container .postarea .postarea-share .postarea-share-button .postarea-share-facebook {
    margin-right:.3em;
}
.container .postarea--button {
    margin-top: 3px;
}
.container .postarea .postarea-button:hover {
    background:#E6E6E6;
}
.container .container--question {
    //width: 35%;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}
.container .container--question .container--question--baloon {
    width: 222px;
    height: 37px;
    //margin-left: 10%;
    position: relative;
    top: 107px;
    left: 42px;
}
.container .container--question .container--question--baloon .container--question--baloon__content {
    font-size: 13px;
}
.container .container--question img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:481px) and (max-width:640px) {
    .container .postarea .postarea-button {
        width:11em;
    }
}
@media screen and (min-width:641px) {
    .container .postarea .postarea-button {
        width:15em;
    }
}
.content {
    max-width:760px;
    margin:3em auto;
}
.content .post {
    margin-top:2em;
    padding:0 1em 1em;
    border-bottom:1px dotted #ccc;
}
.content .post .post-text {
    margin:0;
}
.content .post .post-date {
    font-size:.7em;
    color:#848484;
    text-align:right;
    margin:0;
    border:0;
}
.footer {
    font-size:.8em;
    color:#848484;
    padding:0 1em 3em;
    margin:2em auto 0;
    max-width:760px;
}
