.container--form {
    //width: 35%;
    width: 40%;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
}
.container--form .form-control{
    margin-bottom: 50px;
}
.container--form--button {
    margin-top: 3px;
}
